<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>threeblog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <param-name>XMLConfig</param-name>
      <param-value> /WEB-INF/config.xml </param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value> false </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FileUploadFilter</filter-name>
    <filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
    <init-param>
      <param-name>sessionCookieName</param-name>
      <param-value>JSESSIONID</param-value>
    </init-param>
    <init-param>
      <param-name>sessionParameterName</param-name>
      <param-value>jsessionid</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadFilter</filter-name>
    <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Ranks</servlet-name>
    <servlet-class>threeblog.servlet.Ranks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ranks</servlet-name>
    <url-pattern>/servlet/Ranks</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>threeblog.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ValiateRanks</servlet-name>
    <servlet-class>threeblog.servlet.ValiateRanks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiateRanks</servlet-name>
    <url-pattern>/servlet/ValiateRanks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Zhucheguoma</servlet-name>
    <servlet-class>threeblog.servlet.Zhucheguoma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Zhucheguoma</servlet-name>
    <url-pattern>/servlet/Zhucheguoma</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>threeblog.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Forget_pwd</servlet-name>
    <servlet-class>threeblog.servlet.Forget_pwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget_pwd</servlet-name>
    <url-pattern>/servlet/Forget_pwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Publish</servlet-name>
    <servlet-class>threeblog.servlet.Publish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Publish</servlet-name>
    <url-pattern>/servlet/Publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeInformation</servlet-name>
    <servlet-class>threeblog.servlet.ChangeInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInformation</servlet-name>
    <url-pattern>/servlet/ChangeInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollectArticle</servlet-name>
    <servlet-class>threeblog.servlet.CollectArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectArticle</servlet-name>
    <url-pattern>/servlet/CollectArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>threeblog.servlet.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/servlet/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAnswer</servlet-name>
    <servlet-class>threeblog.servlet.AddAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnswer</servlet-name>
    <url-pattern>/servlet/AddAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddZanToComment</servlet-name>
    <servlet-class>threeblog.servlet.AddZanToComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddZanToComment</servlet-name>
    <url-pattern>/servlet/AddZanToComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddZanToAnswer</servlet-name>
    <servlet-class>threeblog.servlet.AddZanToAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddZanToAnswer</servlet-name>
    <url-pattern>/servlet/AddZanToAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMessage</servlet-name>
    <servlet-class>threeblog.servlet.UpdateMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMessage</servlet-name>
    <url-pattern>/servlet/UpdateMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPhoto</servlet-name>
    <servlet-class>threeblog.servlet.AddPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhoto</servlet-name>
    <url-pattern>/servlet/AddPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePhoto</servlet-name>
    <servlet-class>threeblog.servlet.DeletePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePhoto</servlet-name>
    <url-pattern>/servlet/DeletePhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCollect</servlet-name>
    <servlet-class>threeblog.servlet.DeleteCollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollect</servlet-name>
    <url-pattern>/servlet/DeleteCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddReport</servlet-name>
    <servlet-class>threeblog.servlet.AddReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReport</servlet-name>
    <url-pattern>/servlet/AddReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Shiyongguoma</servlet-name>
    <servlet-class>threeblog.servlet.Shiyongguoma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shiyongguoma</servlet-name>
    <url-pattern>/servlet/Shiyongguoma</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValiatePassword</servlet-name>
    <servlet-class>threeblog.servlet.ValiatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiatePassword</servlet-name>
    <url-pattern>/servlet/ValiatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>threeblog.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/servlet/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLiked</servlet-name>
    <servlet-class>threeblog.servlet.AddLiked</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLiked</servlet-name>
    <url-pattern>/servlet/AddLiked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCollected</servlet-name>
    <servlet-class>threeblog.servlet.AddCollected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollected</servlet-name>
    <url-pattern>/servlet/AddCollected</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFollow</servlet-name>
    <servlet-class>threeblog.servlet.AddFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFollow</servlet-name>
    <url-pattern>/servlet/AddFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFollow</servlet-name>
    <servlet-class>threeblog.servlet.DeleteFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFollow</servlet-name>
    <url-pattern>/servlet/DeleteFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateFollow</servlet-name>
    <servlet-class>threeblog.servlet.UpdateFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFollow</servlet-name>
    <url-pattern>/servlet/UpdateFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCollect</servlet-name>
    <servlet-class>threeblog.servlet.UpdateCollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCollect</servlet-name>
    <url-pattern>/servlet/UpdateCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateZan</servlet-name>
    <servlet-class>threeblog.servlet.UpdateZan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateZan</servlet-name>
    <url-pattern>/servlet/UpdateZan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateReport</servlet-name>
    <servlet-class>threeblog.servlet.UpdateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReport</servlet-name>
    <url-pattern>/servlet/UpdateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateArticle</servlet-name>
    <servlet-class>threeblog.servlet.UpdateArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticle</servlet-name>
    <url-pattern>/servlet/UpdateArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateComment</servlet-name>
    <servlet-class>threeblog.servlet.UpdateComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComment</servlet-name>
    <url-pattern>/servlet/UpdateComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAnswer</servlet-name>
    <servlet-class>threeblog.servlet.UpdateAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAnswer</servlet-name>
    <url-pattern>/servlet/UpdateAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>threeblog.servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/servlet/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteArticle</servlet-name>
    <servlet-class>threeblog.servlet.DeleteArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticle</servlet-name>
    <url-pattern>/servlet/DeleteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>threeblog.servlet.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/servlet/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAnswer</servlet-name>
    <servlet-class>threeblog.servlet.DeleteAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAnswer</servlet-name>
    <url-pattern>/servlet/DeleteAnswer</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>